@charset "UTF-8";

@font-face {
    font-family: 'font-good';
    src        : url(../font/godofwar/GODOFWAR.TTF);
}

@font-face {
    font-family: 'font-romana';
    src        : url(../font/roman_sd/Roman\ SD.ttf);
}

* {
    margin : 0px;
    padding: 0px;
}

.historia,
.trilogia {
    min-width: 220px;
    max-width: 1200px;
    margin   : auto;
    padding  : 0px 10px 30px 10px;
}

.titulo {
    text-align             : center;
    font-family            : 'font-good';
    font-size              : 4em;
    margin-bottom          : 10px;
    margin-top             : 30px;
    background             : #daa520;
    background             : -webkit-linear-gradient(to bottom, #925800, gold, #925800);
    background             : linear-gradient(to bottom, #925800, gold, #925800);
    -webkit-background-clip: text;
    background-clip        : text;
    color                  : transparent;
    letter-spacing         : 5px;
    text-shadow            : 2px 2px 5px rgba(0, 0, 0, 0.144);
}

.descricao {
    text-align : center;
    font-family: 'font-romana';
    min-width  : 280px;
    max-width  : 1000px;
    margin     : 0px auto 20px auto;
    display    : block;
    line-height: 1.5em;
    color      : #606060;
    font-weight: bold;
    font-size  : 2vw;

}

.historia--titulo,
.trilogia--titulo {
    text-align             : center;
    font-family            : 'font-good';
    font-size              : 2.5em;
    padding                : 30px 0px;
    background             : #daa520;
    background             : -webkit-linear-gradient(to bottom, #925800, gold, #925800);
    background             : linear-gradient(to bottom, #925800, gold, #925800);
    -webkit-background-clip: text;
    background-clip        : text;
    color                  : transparent;
    letter-spacing         : 5px;
    text-shadow            : 2px 2px 5px rgba(0, 0, 0, 0.144);
}

.historia--descricao,
.trilogia--descricao {
    margin-bottom: 5px;
    font-size    : 1.5em;
    line-height  : 1.5em;
    text-align   : justify;
    text-indent  : 20px;
    font-family  : Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1000px) {

    .historia--titulo,
    .trilogia--titulo {
        font-size: 4vw;
    }

    .historia--descricao,
    .trilogia--descricao {
        font-size: 2vw;
    }
}

@media screen and (max-width:600px) {

    .historia--titulo,
    .trilogia--titulo {
        font-size: 5vw;
    }

    .historia--descricao {
        font-size: 3vw;
    }

    .trilogia--descricao {
        font-size: 2.5vw;
    }
}

@media screen and (max-width:1100px) {
    .titulo {
        font-size: 6vw;
    }
}